// Global
$cw-global-useEm: false;

// Links
$cw-noTouchHover: true;

// Background
$cw-path-images: 'assets/images/';
$cw-path-fonts: 'assets/fonts/';

// Fonts
$cw-base-font-size: 16px;
$cw-font-heavy: 900;
$cw-font-bold: 700;
$cw-font-normal: 400;
$cw-font-light: 300;

// Colors
$cw-mapColors-baseKey: 'base' !default;
$cw-mapColors:(
    'primary': (
        'base': #8e3329,
        'light': #d9534f,
        'dark': #c9302c
    )
);

// Spaces
$cw-spacerSize: (n: 0, s: 3, m: 5, l: 10, xl: 20, 2xl: 40);
$cw-spacerProperty: (a: (top, left, bottom, right), v: (top, bottom), h: (left, right), t: (top), l: (left), b: (bottom), r: (right));


// Debug
$cw-debugColors: (lime,coral,crimson,gold,lightskyblue,green,indigo,orange);
