
@mixin cw-font-size($size: $cw-base-font-size) {
    @if unitless($size) {
        font-size: $size * 1px;
    } @else if unit($size) == px {
        font-size: $size;
    }

    @if $cw-global-useEm == false {
        @if unitless($size) {
            @warn "Assuming #{$size} to be in pixels, attempting to convert it into pixels.";

            font-size: cw-px2em($size * 1px);
        } @else if unit($size) == px {
            font-size: cw-px2em($size);
        } @else if unit($size) == em {
            font-size: $size;
        }
    }
}

@mixin cw-font-black {
    font-weight: $cw-font-black;
}

@mixin cw-font-bold {
    font-weight: $cw-font-bold;
}

@mixin cw-font-normal {
    font-weight: $cw-font-normal;
}

@mixin cw-font-light {
    font-weight: $cw-font-light;
}
