
/// Generete helper class for background and font color from map colors.
@mixin cw-generate-helpers-colors ($map: $cw-mapColors, $key: 'primary') {
    @if map-has-key($map, $key){
        @each $key, $color in map-get($map, $key) {
            .bg-#{$key}-#{$key} {
                background-color: $color;
            }

            .c-#{$key}-#{$key} {
                color: $color;
            }
        }
    }
    @else {
         @warn"‘#{$key}’ not exist!";
    }
}

/// Print colors for debug container
/// @param  {String} $prefix css class name
/// @param  {List} $colors    list of colors
@mixin cw-generate-debug-colors ($prefix, $map-colors: $cw-debugColors) {
    .#{$prefix} {
        @each $color in $map-colors {
            $i: index($map-colors, $color);

            &-#{$i} {
                background-color: $color;
            }
        }
    }
}

/// Genera un set di classi per una gestione rapida di padding e margin.
/// La classe si legge in questo modo: {proprieta'} - {direzione} - {taglia}
///  es. pal (padding - all - taglia L)
@mixin cw-generate-box-spacing($space_size: $cw-spacerSize, $space_variant: $cw-spacerProperty, $media_prefix: '') {
    @each $size,
    $value in $space_size {
        @each $prefix,
        $sides in $space_variant {
            @each $side in $sides {
                @each $short_prop,
                $property in (p: padding, m: margin) {
                    @if $media_prefix != '' {
                        .#{$short_prop}#{$prefix}#{$size}\@#{$media_prefix} {
                            #{$property}-#{$side}: #{$value}px;
                        }
                    }
                    @else {
                        .#{$short_prop}#{$prefix}#{$size} {
                            #{$property}-#{$side}: #{$value}px;
                        }
                    }
                };
            };
        };
    };
}
