
/**
 * Responsive image
 * Keep images from scaling beyond the width of their parents.
 */
@mixin cw-img-responsive($display: block) {
    display: $display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin cw-img-cover-responsive($display: block) {
    display: $display;
    width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
