
/// Clearfix
@mixin cw-cf {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin cw-base-sizing {
    // ^https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }
}

@mixin cw-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
