@mixin cw-link-color($color: none) {
    color: $color;

    &:visited {
        color: $color;
    }
}

/**
 * Hover link
 * @param  String  $color
 * @param  Boolean $shade
 */
@mixin cw-hover {
    @if $cw-noTouchHover {
        .no-touch &:hover {
            @content;
        }
    } @else {
        &:hover {
            @content;
        }
    }
}

@mixin cw-hover-focus {
    @if $cw-noTouchHover {
        &:focus,
        .no-touch &:hover {
            @content;
        }
    } @else {
        &:focus,
        &:hover {
            @content;
        }
    }
}

@mixin cw-hover-focus-active {
    @if $cw-noTouchHover {
        &:focus,
        &:active
        .no-touch &:hover {
            @content;
        }
    } @else {
        &:focus,
        &:active
        &:hover {
            @content;
        }
    }
}
