/// Reset link element
/// @group Reset
@mixin cw-reset-link {
    text-decoration: none;
    color: inherit;

    &:active,
    &:focus {
        outline: none;
    }
}

/// Reset padding and margin
/// @group Reset
@mixin cw-reset-block {
    margin: 0;
    padding: 0;
}

/// Reset list element
/// @group Reset
@mixin cw-reset-list {
    @include cw-reset-block;
    list-style: none;
}
