
/**
 * Create an horintal list of item with equals width
 */
@mixin cw-table-horizontal-list() {
    @include cw-reset-block;
    display: table;
    width: 100%;

    & > li {
        display: table-cell;
        width: 2%;
        text-align: center;
    }
}
