
/// Get color from map colors.
@function cw-get-color($key: 'primary', $variant: $cw-mapColors-baseKey) {
    $color: null;
    @if map-has-key($cw-mapColors, $key) {
        // Get the color spectrum
        $color-spectrum: cw-get($cw-mapColors, $key);
        // Get the color variant
        @if $color-spectrum {
            $color: cw-get($color-spectrum, $variant);
        }
        @return $color;
    } @else {
        @warn "‘#{$key}’ not exist!";
    }
}
