
@function cw-get($map, $attribute) {
     @if map-has-key($map, $attribute){
        @return map-get($map, $attribute);
    }
    @else {
        @error'No attribute \'#{$attribute}\' found inside map #{$map}\n' + 'Please checkout your code to fine where is the problem.';
    }
}
