
@function cw-px2em($px, $base-font-size: $cw-base-font-size) {
    @if unitless($px) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";

        @return cw-px2em($px * 1px, $base-font-size);
    }
    @else if unit($px) == em {
        @return $px;
    }

    @return ($px / $base-font-size) * 1em;
}
